@model FETruckCRM.Models.LoadModel
@{
    ViewBag.Title = "Eternetic Logistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var success = TempData["Success"];
    var Err = TempData["Error"];
    var loggedUserID = Convert.ToInt64(Session["UserID"]);
}
@*<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet">*@

<!-- PAGE CONTENT-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="p_title">Dashboard</div>
            <div class="buttons-wrap">
                <div class="left__buttons">
                    @if (ViewBag.RoleName != "Accounting")
                    {
                        if (ViewBag.RoleName == "SuperAdmin")
                        {
                            <a href="@Url.Action("index", "Load", new { LoadType = 2 })" class="btn btn-primary bg-orange">New Active Load</a>
                        }
                        if (@Model.RecoveredLoadList.Count == 0)
                        {
                            <a href="@Url.Action("index", "Load", new { LoadType = 1 })" class="btn btn-primary bg-orange">New Pending Load</a>
                        }
                        else
                        {
                            <b class="p_title" style="cursor:pointer;padding-right:10px;">Select Load: </b> @Html.DropDownListFor(a => a.strLoadID, new SelectList(Model.RecoveredLoadList, "Value", "Text"), new { @class = "form-control-sm form-control width-140 bg-dark-blue",@style="padding:10px 10px; height:40px;", width = "100px" })
                            <a style="cursor:pointer;margin-left:10px;" onclick="RecoveredLoad();" class="btn btn-primary bg-orange">Recover Load</a>
                        }
                    }
                    @*<button class="btn btn-primary bg-orange" type="button">New Active Load</button>
        <button class="btn btn-primary bg-orange" type="button">New Pending Load</button>*@
                </div>
                <div class="right_filter" style="display:none;">
                    <input type="text" class="form-control m-l-10 m-r-10 width-140 bg-dark-blue" value="" placeholder="Keyword.." />
                    <select class="form-control-sm form-control width-140 bg-dark-blue">
                        <option value="0">Search For</option>
                        <option value="1">Shipper Rate</option>
                        <option value="2">Carrier Pay</option>
                        <option value="3">Load Margin</option>
                        <option value="4">Margin %</option>
                    </select>
                    <span class="filter_text">From</span>
                    <input type="text" class="form-control width-140 bg-dark-blue dt_picker" placeholder="MM/DD/YY" value="" />
                    <span class="filter_text">To</span>
                    <input type="text" class="form-control width-140 bg-dark-blue dt_picker" placeholder="MM/DD/YY" value="" />
                    <div class="right__buttons">
                        <button class="btn btn-primary bg-red" type="button">Go</button>
                        <button class="btn btn-primary" type="button">Show All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg">
    <!-- DATA TABLE-->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="table_btn_links">
                        <div class="table_status" style="display:none;">


                        </div>
                        <div class="table_links">
                            <ul style="display:none;">
                                <li>
                                    <a href="#"><label class="au-checkbox"><input type="checkbox"><span class="au-checkmark"></span> Show Offices</label> </a>
                                </li>
                                <li>
                                    <a href="#"><label class="au-checkbox"><input type="checkbox"><span class="au-checkmark"></span> Show Time</label> </a>
                                </li>
                                <li>
                                    <a href="#">Open Load</a>
                                </li>
                                <li>
                                    <a href="#">Delivered/Completed Load</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="table-responsive table-responsive-data2" style="overflow-x:scroll;">
                        <table class="table table-data2" id="tblLoad">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Load #</th>
                                    <th>Invoice #</th>
                                    <th>Payment Type</th>
                                    <th>W/O #</th>
                                    <th>Driver/Carrier</th>
                                    <th>Ship Date</th>
                                    <th>Load Creation Date</th>
                                    <th>Del Date</th>
                                    <th>Customer</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Shipper Rate</th>
                                    <th>Career Fee</th>
                                    <th>Load Status</th>
                                    <th>AR</th>
                                    <th>Actions</th>
                                    <th>Shipper Invoice Sent</th>
                                    <th>Shipper Payment Received</th>
                                    <th>Carrier Invoice Received</th>
                                    <th>Carrier Payment Made</th>

                                </tr>
                            </thead>

                        </table>


                        <!-- Modal HTML -->
                        <div id="myModal" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">SHIPPER INVOICE SENT</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label mb-1">Please Select Shipper Invoice Sent Date</label><span style="color:red;">*</span>
                                                @if (ViewBag.RoleName == "SuperAdmin")
                                                {
                                                    <input type="text" name="txtShipperISD" id="txtShipperISD" maxlength="93" class="form-control datepicker required" autocomplete="off" />
                                                }
                                                else
                                                {
                                                    <input type="text" name="txtShipperISD" id="txtShipperISD" maxlength="93" class="form-control required" autocomplete="off" />

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" id="hdnLoadID" />
                                        <input type="hidden" id="hdnIsShipperISD" />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="btnSaveSISD">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal HTML -->
                        <div id="myModalSPRD" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">SHIPPER PAYMENT RECEIVED</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label mb-1">Please Select Shipper Payment Received Date</label><span style="color:red;">*</span>
                                                @if (ViewBag.RoleName == "SuperAdmin")
                                                {
                                                    <input type="text" name="txtShipperPRD" id="txtShipperPRD" maxlength="93" class="form-control datepicker required" autocomplete="off" />
                                                }
                                                else
                                                {
                                                    <input type="text" name="txtShipperPRD" id="txtShipperPRD" maxlength="93" class="form-control required" autocomplete="off" />

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" id="hdnLoadIDPRD" />
                                        <input type="hidden" id="hdnIsShipperPRD" />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="btnSaveSPRD">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal HTML -->
                        <div id="myModalCIRD" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">CARRIER INVOICE RECEIVED</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label mb-1">Please Select Carrier Invoice Received Date</label><span style="color:red;">*</span>
                                                @if (ViewBag.RoleName == "SuperAdmin")
                                                {
                                                    <input type="text" name="txtShipperCIRD" id="txtShipperCIRD" maxlength="93" class="form-control datepicker required" autocomplete="off" />
                                                }
                                                else
                                                {

                                                    <input type="text" name="txtShipperCIRD" id="txtShipperCIRD" maxlength="93" class="form-control required" autocomplete="off" />

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" id="hdnLoadIDCIRD" />
                                        <input type="hidden" id="hdnIsShipperCIRD" />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="btnSaveCIRD">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal HTML -->
                        <div id="myModalCPM" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">CARRIER PAYMENT MADE</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label mb-1">Please Select Carrier Payment Made</label><span style="color:red;">*</span>
                                                @if (ViewBag.RoleName == "SuperAdmin")
                                                {
                                                    <input type="text" name="txtShipperCPM" id="txtShipperCPM" maxlength="93" class="form-control datepicker required" autocomplete="off" />
                                                }
                                                else
                                                {
                                                    <input type="text" name="txtShipperCPM" id="txtShipperCPM" maxlength="93" class="form-control required" autocomplete="off" />

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" id="hdnLoadIDCPM" />
                                        <input type="hidden" id="hdnIsShipperCPM" />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="btnSaveCPM">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END DATA TABLE-->

</div>
<script src="@Url.Content("~/assets/js/datatables.js")"></script>
<script type="text/javascript">
    // this is just used to make sure values pushed into the array are not already there
    Array.prototype.contains = function (v) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] === v) return true;
        }
        return false;
    };
    var LoadStatus = null;
    function loadddl()
    {
        $.ajax({
            url: "/Load/BindDropDowns",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                // getload();
                var res = JSON.parse(data);
                if (res) {
                    LoadStatus = new Array();
                    $.each(res.Table3, function (i, item) {
                        if (!LoadStatus.contains(item)) {
                            LoadStatus.push(item);
                        }
                    });
                }
            }
        });
    }
    function openNewWindow(id) {

        var newWindow = window.open('/Load/ratecon?Loadid=' + id,"rateconpdf.pdf",true);
        newWindow.focus();

        newWindow.print();

       // newWindow.close();
    }

    function openNewWindow1(id) {

        var newWindow = window.open('/Load/loadinv?Loadid=' + id, "invoicepdf.pdf", true);
        newWindow.focus();

        newWindow.print();

        // newWindow.close();
    }
    function openNewWindow2(id) {

        var newWindow = window.open('/Load/shipperratecon?Loadid=' + id, "invoicepdf.pdf", true);
        newWindow.focus();

        newWindow.print();

        // newWindow.close();
    }


    $(document).ready(function () {
        loadddl();
       
        $('#tblLoad').DataTable({
            "bServerSide": true,
            "bProcessing": true,
            "bSearchable": true,
            "sAjaxSource": "/Load/getloaddata_test/",
            "sServerMethod": "POST",
            "order": [[0, "desc"]],
            "aoColumns": [
                { "data": "LoadID", "autoWidth": true, "searchable": true},
                { "data": "LoadNo", "autoWidth": true, "searchable": true},
                { "data": "InvoiceNo", "autoWidth": true, "searchable": true},
                { "data": "PaymentType", "autoWidth": true, "searchable": true},
                { "data": "WO", "autoWidth": true, "searchable": true},
                { "data": "CareerName", "autoWidth": true, "searchable": true},
                { "data": "strShipperDate", "autoWidth": true, "searchable": true},
                { "data": "CreatedDate", "autoWidth": true, "searchable": true},
                { "data": "strDeliveredDate", "autoWidth": true, "searchable": true},
                { "data": "CustomerName", "autoWidth": true, "searchable": true},
                { "data": "Location", "autoWidth": true, "searchable": true},
                { "data": "ConsigneeLocation", "autoWidth": true, "searchable": true},
                { "data": "strRate", "autoWidth": true, "searchable": true},
                { "data": "strCareerFee", "autoWidth": true, "searchable": true},
                { "data": "Status", "autoWidth": true, "searchable": true},
                    {
                        "autoWidth": true,
                        mRender: function (data, type, row) {
                            var isSent = row.IsShipperInvoiceSent;
                            var isPaymentReceived = row.IsShipperPaymentReceived;
                            if(isSent && !isPaymentReceived)
                            {
                            var shipperDate = new Date(row.ShipperInvoiceSentDate);
                           var today=new Date();
                           var diffDays = parseInt((today-shipperDate) / (1000 * 60 * 60 * 24), 10);
                            return (diffDays+' Days');
                            }
                            else
                            return '---'
                        }
                    },
                    {
                        // this is Actions Column
                        mRender: function (data, type, row) {
                            debugger;
                            var cloneLoad=' <a style="cursor:pointer" href="/Load/index?cloneId=' +row.LoadID+ '&LoadType=1">Clone</a>';
                            var lt = row.LoadID;
                            var linkpdf = '<div class="table-data-feature"><a data-toggle="tooltip" data-placement="top" onclick="openNewWindow(' + row.LoadID +')"  class="item"   title="Rate confirmation PDF"  data-original-title="Rate Confirmation PDF"><img src ="../assets/images/pdf.png" /></a>';
                            linkpdf = linkpdf.replace("-1", row.LoadID);

                            var linkinvoicepdf1 = '<div class="table-data-feature"><a data-toggle="tooltip" data-placement="top"  class="item" onclick="openNewWindow1('+row.LoadID+')"   title="Invoice PDF"  data-original-title="Invoice PDF"><img src ="../assets/images/pdf.png" /></a>';
                            linkinvoicepdf1 = linkinvoicepdf1.replace("-1", row.LoadID);

                            var linkEdit = '<div class="table-data-feature"><a data-toggle="tooltip" data-placement="top"  class="item"  href="@Url.Action("index", "load", new { LoadType=-2, loadid = -1 })" title=""  data-original-title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>';
                            linkEdit = linkEdit.replace("-1", row.LoadID).replace("-2", row.LoadType);

                            var linkDelete = '<a data-toggle="tooltip" data-placement="top" class="item" style="margin-left:5px;"  onclick="DeleteFunction(' + row["LoadID"] + ')" title=""  data-original-title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></div>';
                            if ((row.Role == "Accounting" || row.Role == "SuperAdmin") &&   row.IsShipperInvoiceSent ==true) {
                                return linkEdit + linkpdf +  linkinvoicepdf1+cloneLoad ;

                            }
                            else if (row.IsShipperInvoiceSent == true && ('@ViewBag.RoleName' == "Sale Representative" || '@ViewBag.RoleName' == "Dispatcher" || '@ViewBag.RoleName' == "Operations"))
                            {
                                return cloneLoad;
                            }
                            else {
                                if (row.LoadType == 1) { return linkEdit + linkpdf;}
                                else { return linkEdit + linkpdf + cloneLoad;}

                            }
                            }
                    },

                    {
                        // this is Actions Column
                        mRender: function (data, type, row) {
                            debugger;
                            var lt = row.LoadID;
                            var isdel = row.IsShipperInvoiceSent;
                            var linkEdit1 = '<div class="table-data-feature"><input type="checkbox" onchange="IsShipperInvSent(this,' + lt + ');"/></div>';

                            if (row.IsShipperInvoiceSent == true) {
                                if ('@ViewBag.RoleName' == "SuperAdmin") {
                                    var linkEdit1 = '<div class="table-data-feature"><span>' + row.ShipperInvoiceSentDate + '</span><input type="checkbox" onchange="IsShipperInvSent(this,' + lt + ');"/></div>';

                                }
                                else {
                                    linkEdit1 = '<div class="table-data-feature"><span>' + row.ShipperInvoiceSentDate + '</span></div>';

                                }
                            }
                            return linkEdit1 ;
                        }
                    },

                      {
                        // this is Actions Column
                        mRender: function (data, type, row) {
                            debugger;
                            var lt = row.LoadID;
                              var isdel = row.IsShipperPaymentReceived;
                              var linkEdit1 = '<div class="table-data-feature"><input type="checkbox" onchange="IsPaymentRecd(this,' + lt +');"/></div>';
                              if (row.IsShipperPaymentReceived == true) {
                                  if ('@ViewBag.RoleName' == "SuperAdmin") {
                                      var linkEdit1 = '<div class="table-data-feature"><span>' + row.ShipperPaymentReceivedDate + '</span><input type="checkbox" onchange="IsPaymentRecd(this,' + lt + ');"/></div>';

                                }
                                else {
                                      linkEdit1 = '<div class="table-data-feature"><span>' + row.ShipperPaymentReceivedDate + '</span></div>';


                                }
                            }
                           return linkEdit1;
                            }
                    },
                    {
                        // this is Actions Column
                        mRender: function (data, type, row) {
                            debugger;
                            var lt = row.LoadID;
                            var isdel = row.IsCarrierInvoiceReceived;
                            var linkEdit2 = '<div class="table-data-feature"><input type="checkbox" onchange="IsCarrierInvoiceRecd(this,' + lt +');"/></div>';
                            if (row.IsCarrierInvoiceReceived == true) {
                                if ('@ViewBag.RoleName' == "SuperAdmin") {
                                    var linkEdit2 = '<div class="table-data-feature"><span>' + row.CarrierInvoiceReceivedDate + '</span><input type="checkbox" onchange="IsCarrierInvoiceRecd(this,' + lt + ');"/></div>';

                                }
                                else {
                                    linkEdit2 = '<div class="table-data-feature"><span>' + row.CarrierInvoiceReceivedDate + '</span></div>';


                                }
                            }
                            return linkEdit2;
                        }
                    },
                    {
                        // this is Actions Column
                        mRender: function (data, type, row) {
                            debugger;
                            var lt = row.LoadID;
                            var isdel = row.IsCarrierPaymentMade;
                            var linkEdit3 = '<div class="table-data-feature"><input type="checkbox" onchange="IsCarrierPaymentMade(this,' + lt +');"/></div>';
                            if (row.IsCarrierPaymentMade == true) {
                                if ('@ViewBag.RoleName' == "SuperAdmin") {
                                    var linkEdit3 = '<div class="table-data-feature"><span>' + row.CarrierPaymentMadeDate + '</span><input type="checkbox" onchange="IsCarrierPaymentMade(this,' + lt + ');"/></div>';

                                }
                                else {
                                    linkEdit3 = '<div class="table-data-feature"><span>' + row.CarrierPaymentMadeDate + '</span></div>';


                                }
                            }
                            return linkEdit3;
                        }
                    }

                ],
                "columnDefs": [
                    {
                        "targets": [14,15,16,17,18,19,20], //first and last not sortable
                        "orderable": false,
                        "defaultContent": " ",

                        //"visible": function (data, type, row) {
                        //    return row.Role == "Accounting" ? true : false;
                        //}
                    },
                    {
                        targets: [14], render:
                            function (data, type, row) { debugger; return createSelect(data, row["LoadID"], row["IsShipperInvoiceSent"], row["Status"]); }
                    },
                    {
                        "targets": [17,18,19,20], //first and last not sortable
                        "orderable": false,
                        "defaultContent": " ",
                        "visible": '@ViewBag.RoleName' == "Accounting" || '@ViewBag.RoleName' == "SuperAdmin"
                        //"visible": function (data, type, row) {
                        //    return row.Role == "Accounting" ? true : false;
                        //}
                    },
                    {
                        "targets": [0], //first and last not sortable

                        "visible": false
                        //"visible": function (data, type, row) {
                        //    return row.Role == "Accounting" ? true : false;
                        //}
                    },

            ],
                "responsive": true

            });


        });

    var err = '@Err';
        var success = '@success';
    if (err != null && err != '') {

        ShowError(err);
    }
    if (success != null && success != '') {

        ShowSucess(success);
    }
        function ShowSucess(msg) {
            $.notifyBar({ cssClass: "success", html: msg });
        }
        function ShowError(msg) {
            $.notifyBar({ cssClass: "error", html: msg });
        }



    function createSelect(selItem, loadID, IsShipperInvoiceSent, Status) {
        var sel = "<select id='LS_" + loadID + "' onchange='changeStatus(this.id," + loadID + ");'><option>Select Status</option>";
        if ((IsShipperInvoiceSent == true || Status>8) && ('@ViewBag.RoleName' == "Sale Representative" || '@ViewBag.RoleName' == "Dispatcher" || '@ViewBag.RoleName' == "Operations")) {
            sel = "<select id='LS_" + loadID + "' onchange='changeStatus(this.id," + loadID + ");' disabled='true'><option>Select Status</option>";

        }
        if (LoadStatus == null || LoadStatus==undefined)
        {
        loadddl();
        }
        for (var i = 0; i < LoadStatus.length; ++i) {
            if (IsShipperInvoiceSent == false && ('@ViewBag.RoleName' == "Sale Representative" || '@ViewBag.RoleName' == "Dispatcher" || '@ViewBag.RoleName' == "Operations")) {

                if (LoadStatus[i].LoadStatusID != 9 && LoadStatus[i].LoadStatusID != 10 && LoadStatus[i].LoadStatusID != 11) {
                    if (LoadStatus[i].LoadStatusID == selItem) {
                        sel += "<option selected value = '" + LoadStatus[i].LoadStatusID + "' >" + LoadStatus[i].Status + "</option>";
                    }
                    else {
                        sel += "<option  value = '" + LoadStatus[i].LoadStatusID + "' >" + LoadStatus[i].Status + "</option>";
                    }
                }
            }
            else {
                if (LoadStatus[i].LoadStatusID == selItem) {
                    sel += "<option selected value = '" + LoadStatus[i].LoadStatusID + "' >" + LoadStatus[i].Status + "</option>";
                }
                else {
                    sel += "<option  value = '" + LoadStatus[i].LoadStatusID + "' >" + LoadStatus[i].Status + "</option>";
                }
            }


        }
        sel += "</select>";
        return sel;
    }

    function changeStatus(e, loadID) {

        debugger;
        $("#divLoader").show();
        var flag = false;
        var data = { "LoadID": loadID, "LoadStatusID": $("#" + e).val(), "LoggedinUserId": @loggedUserID };

        $.ajax({
            type: 'POST',
            url: 'CheckStatus',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (s) {
                debugger;
                if (s.data == -3) {
                    ShowError(s.msg);
                }
               else if (s.data > 0) {
                    $.ajax({
                        type: 'POST',
                        url: 'ChangeStatus',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        success: function (s) {
                            //debugger;
                            if (s.data > 0) {
                                $('#tblCustomBroker').DataTable().ajax.reload();
                                $("#divLoader").hide();
                                ShowSucess(s.msg);
                            }
                            else {
                                if (s.timeout == true) {
                                    $("#divLoader").hide();

                                    window.location.href = "/Account/Login";
                                }
                                else {
                                    ShowError(s.msg); $("#divLoader").hide();
                                }
                            }

                        },
                        error: function (s) {
                            if (s.timeout == true) {

                                window.location.href = "/Account/Login";
                            }
                            //ShowError();
                        }
                    });
                }
                else {

                        var result = confirm("The selected load status is already exists! Are you sure to change the status?");
                        if (result) {
                            $.ajax({
                                type: 'POST',
                                url: 'ChangeStatus',
                                contentType: 'application/json; charset=utf-8',
                                data: JSON.stringify(data),
                                dataType: 'json',
                                success: function (s) {
                                    //debugger;
                                    if (s.data > 0) {
                                        $('#tblCustomBroker').DataTable().ajax.reload();
                                        $("#divLoader").hide();
                                        ShowSucess(s.msg);
                                    }
                                    else {
                                        if (s.timeout == true) {
                                            $("#divLoader").hide();

                                            window.location.href = "/Account/Login";
                                        }
                                        else {
                                            ShowError(s.msg); $("#divLoader").hide();
                                        }
                                    }

                                },
                                error: function (s) {
                                    if (s.timeout == true) {

                                        window.location.href = "/Account/Login";
                                    }
                                    //ShowError();
                                }
                            });
                        }


                    if (s.timeout == true) {
                        $("#divLoader").hide();

                        window.location.href = "/Account/Login";
                    }
                    else {
                        ShowError(s.msg); $("#divLoader").hide();
                    }
                }

            },
            error: function (s) {
                if (s.timeout == true) {

                    window.location.href = "/Account/Login";
                }
                //ShowError();
            }
        });

        return true;
    }

    $("#btnSaveSISD").click(function () {


        $("#divLoader").show();
        if ($("#txtShipperISD").val() == "") {
            alert("Please select date.");
            $("#divLoader").hide();
            return false;
        }
        var data = { "LoadID": $("#hdnLoadID").val(), "IsShipperInvoiceSent": $("#hdnIsShipperISD").val()=="1"?true:false, "ShipperInvoiceSentDate": $("#txtShipperISD").val()};
        $.ajax({
            type: 'POST',
            url: 'ChangeShipperInvoiceSentStatus',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (s) {
                //debugger;
                if (s.data > 0) {
                    $('#tblCustomBroker').DataTable().ajax.reload();
                    $("#hdnLoadID").val('');
                    $("#hdnIsShipperISD").val('');
                    $("#txtShipperISD").val('');
                    $("#divLoader").hide();
                    $("#myModal .close").click();

                    ShowSucess(s.msg);
                }
                else {
                    if (s.timeout == true) {
                        $("#divLoader").hide();

                        window.location.href = "/Account/Login";
                    }
                    else {
                        ShowError(s.msg); $("#divLoader").hide();
                    }
                }

            },
            error: function (s) {
                if (s.timeout == true) {

                    window.location.href = "/Account/Login";
                }
            }
        });
        return true;
    });

    function IsShipperInvSent(e, loadID) {
        debugger;
        $("#hdnLoadID").val(loadID);
        $("#hdnIsShipperISD").val(e.checked?1:0);

        if (e.checked == true) {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = (month) + "/" + (day) + "/" + now.getFullYear();
            $('#txtShipperISD').val(today);
             if ('@ViewBag.RoleName' == "Accounting") {
                 $('#txtShipperISD').attr("readonly",true);
                 $('#txtShipperISD').removeClass("datepicker");
                    }
            $("#myModal").modal('show');
        }


    }


    $("#btnSaveSPRD").click(function () {


        $("#divLoader").show();
        if ($("#txtShipperPRD").val() == "") {
            alert("Please select date.");
            $("#divLoader").hide();
            return false;
        }
        var data = { "LoadID": $("#hdnLoadIDPRD").val(), "IsCheckedPaymentRecd": $("#hdnIsShipperPRD").val() == "1" ? true : false, "ShipperPaymentReceivedDate": $("#txtShipperPRD").val() };
        $.ajax({
            type: 'POST',
            url: 'ChangePaymentRecdStatus',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (s) {
                //debugger;
                if (s.data > 0) {
                    $('#tblCustomBroker').DataTable().ajax.reload();
                    $("#hdnLoadIDPRD").val('');
                    $("#hdnIsShipperPRD").val('');
                    $("#txtShipperPRD").val('');
                    $("#divLoader").hide();
                    $("#myModalSPRD .close").click();
                    $("#divLoader").hide();
                    ShowSucess(s.msg);
                }
                else {
                    if (s.timeout == true) {
                        $("#divLoader").hide();

                        window.location.href = "/Account/Login";
                    }
                    else {
                        ShowError(s.msg); $("#divLoader").hide();
                    }
                }

            },
            error: function (s) {
                if (s.timeout == true) {

                    window.location.href = "/Account/Login";
                }
            }
        });
        return true;
    });
    function IsPaymentRecd(e, loadID) {
        debugger;
        $("#hdnLoadIDPRD").val(loadID);
        $("#hdnIsShipperPRD").val(e.checked ? 1 : 0);
        if (e.checked == true) {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = (month) + "/" + (day) + "/" + now.getFullYear();
            $('#txtShipperPRD').val(today);
            if ('@ViewBag.RoleName' == "Accounting") {
                 $('#txtShipperPRD').attr("readonly",true);
                $('#txtShipperPRD').removeClass("datepicker");
                    }
            $("#myModalSPRD").modal('show');
        }

        $("#divLoader").show();


    }

    $("#btnSaveCIRD").click(function () {


        $("#divLoader").show();
        if ($("#txtShipperCIRD").val() == "") {
            alert("Please select date.");
            $("#divLoader").hide();
            return false;
        }
        var data = { "LoadID": $("#hdnLoadIDCIRD").val(), "IsCheckedPaymentRecd": $("#hdnIsShipperCIRD").val() == "1" ? true : false, "CarrierInvoiceReceivedDate": $("#txtShipperCIRD").val() };
        $.ajax({
            type: 'POST',
            url: 'ChangeCarrierInvoiceRecdStatus',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (s) {
                //debugger;
                if (s.data > 0) {
                    $('#tblCustomBroker').DataTable().ajax.reload();
                    $("#hdnLoadIDCIRD").val('');
                    $("#hdnIsShipperCIRD").val('');
                    $("#txtShipperCIRD").val('');
                    $("#divLoader").hide();
                    $("#myModalCIRD .close").click();
                    $("#divLoader").hide();
                    ShowSucess(s.msg);
                }
                else {
                    if (s.timeout == true) {
                        $("#divLoader").hide();

                        window.location.href = "/Account/Login";
                    }
                    else {
                        ShowError(s.msg); $("#divLoader").hide();
                    }
                }

            },
            error: function (s) {
                if (s.timeout == true) {

                    window.location.href = "/Account/Login";
                }
            }
        });
        return true;
    });
    function IsCarrierInvoiceRecd(e, loadID) {
        $("#hdnLoadIDCIRD").val(loadID);
        $("#hdnIsShipperCIRD").val(e.checked ? 1 : 0);

        if (e.checked == true) {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = (month) + "/" + (day) + "/" + now.getFullYear();
            $('#txtShipperCIRD').val(today);
              if ('@ViewBag.RoleName' == "Accounting") {
                 $('#txtShipperCIRD').attr("readonly",true);
                  $('#txtShipperCIRD').removeClass("datepicker");
                    }
            $("#myModalCIRD").modal('show');
        }
        $("#divLoader").show();

    }

    $("#btnSaveCPM").click(function () {


        $("#divLoader").show();
        if ($("#txtShipperCPM").val() == "") {
            alert("Please select date.");
            $("#divLoader").hide();
            return false;
        }
        var data = { "LoadID": $("#hdnLoadIDCPM").val(), "IsCheckedPaymentRecd": $("#hdnIsShipperCPM").val() == "1" ? true : false, "CarrierInvoiceReceivedDate": $("#txtShipperCPM").val() };
        $.ajax({
            type: 'POST',
            url: 'IsCarrierPaymentMade',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (s) {
                //debugger;
                if (s.data > 0) {
                    $('#tblCustomBroker').DataTable().ajax.reload();
                    $("#hdnLoadIDCPM").val('');
                    $("#hdnIsShipperCPM").val('');
                    $("#txtShipperCPM").val('');
                    $("#divLoader").hide();
                    $("#myModalCPM .close").click();
                    $("#divLoader").hide();
                    ShowSucess(s.msg);
                }
                else {
                    if (s.timeout == true) {
                        $("#divLoader").hide();

                        window.location.href = "/Account/Login";
                    }
                    else {
                        ShowError(s.msg); $("#divLoader").hide();
                    }
                }

            },
            error: function (s) {
                if (s.timeout == true) {

                    window.location.href = "/Account/Login";
                }
            }
        });
        return true;
    });


    function RecoveredLoad() {

        let LoadID = $("#strLoadID").val();
        if (LoadID > 0) {
            window.location.href = "/Load/Index?loadid=" + LoadID +"&LoadType=2&isrecoveredload=true";
           
        }
    }

    function IsCarrierPaymentMade(e, loadID) {
        $("#hdnLoadIDCPM").val(loadID);
        $("#hdnIsShipperCPM").val(e.checked ? 1 : 0);
        if (e.checked == true) {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today =  (month) + "/" + (day) + "/"+now.getFullYear();
            $('#txtShipperCPM').val(today);
             if ('@ViewBag.RoleName' == "Accounting") {
                 $('#txtShipperCPM').attr("readonly",true);
                 $('#txtShipperCPM').removeClass("datepicker");
                    }
            $("#myModalCPM").modal('show');
        }

        $("#divLoader").show();

    }

</script>