@model FETruckCRM.Models.ChangePasswordModel

@{
    //ViewBag.Title = "Add Equipment Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var success = TempData["Success"];
    var Err = TempData["Error"];
}

<link rel="stylesheet" href="" @Url.Content("~/assets/css/bootstrap-multiselect.css") " type="text/css">
<script type="text/javascript" src="" @Url.Content("~/assets/js/bootstrap-multiselect.js") "></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="p_title">@ViewBag.Title</div>
        </div>
    </div>
</div>
<div class="page-content-bg">
    <!-- DATA TABLE-->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">&nbsp;&nbsp;&nbsp;</div>
                    <div class="col-md-4">

                        <div class="card commonForm">
                            <div class="card-header hideMobile">@ViewBag.Title</div>
                            <div class="card-body">
                                @*<form action="index.html" method="post" novalidate="novalidate">*@
                                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @id = "ResetPasswordForm", @onsubmit = "showLoader(this);", autocomplete = "off" }))
                                {



                                    <div class="login-form">
                                        <form action="" method="post">
                                            <div class="form-group">
                                                <label>Old Password</label>
                                                @*<input class="el-input el-input--full" type="password" value="" />*@
                                                @Html.PasswordFor(a => a.OldPassword, new { @class = "el-input el-input--full" })
                                                @Html.ValidationMessageFor(m => m.OldPassword)
                                            </div>
                                            <div class="form-group">
                                                <label>New Password</label>
                                                @*<input class="el-input el-input--full" type="password" value="" />*@
                                                @Html.PasswordFor(a => a.Password, new { @class = "el-input el-input--full" })
                                                @Html.ValidationMessageFor(m => m.Password)
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm New Password</label>
                                                @*<input class="el-input el-input--full" type="password" value="" />*@
                                                @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "el-input el-input--full" })
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                            </div>

                                            @Html.HiddenFor(a => a.UserID)
                                            @Html.HiddenFor(a => a.EmailId)
                                            <button class="el-btn login_btn m-b-20" type="submit">Change Password</button>
                                            @*<a href="@Url.Action("ChangePassword", "Account")">Back To Login</a>*@
                                        </form>
                                    </div>





                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>

                </div>
                </div>
        </div>
    </section>
    <!-- END DATA TABLE-->


</div>
@Scripts.Render("~/bundles/jqueryval")
<script>

       
         var err = '@ViewBag.Error';
    var success = '@ViewBag.Success';
    if (err != null && err != '') {
                       ShowError(err);
        }
        if (success != null && success != '') {

                       ShowSucess(success);
        }


        function ShowSucess(msge) {
           $.notifyBar({ cssClass: "success", html: msg });
        }
        function ShowError(msg) {
           $.notifyBar({ cssClass: "error", html: msg });
        }

</script>