@model FETruckCRM.Models.ResetPasswordModel
@{
    Layout = null;
    var error = ViewBag.Error;
    var success = ViewBag.Success;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Truck CRM- Login</title>
    <link href="@Url.Content("~/assets/css/font-awesome.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/assets/css/theme.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/assets/css/custom.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/assets/css/jquery.notifyBar.css")" rel="stylesheet" />
</head>

<body class="login_bg">
    <div class="page-content">
        <div class="container login_container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src="@Url.Content("~/assets/images/FleetexpertsLogo.png")" alt="Logo">
                        </a>
                    </div>
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "ResetPasswordForm", @onsubmit = "showLoader(this);", autocomplete = "off" }))
                    {



                        <div class="login-form">
                            <form action="" method="post">
                               
                                <div class="form-group">
                                    <label>New Password</label>
                                    @*<input class="el-input el-input--full" type="password" value="" />*@
                                    @Html.PasswordFor(a => a.Password, new { @class = "el-input el-input--full" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    @*<input class="el-input el-input--full" type="password" value="" />*@
                                    @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "el-input el-input--full" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                                @*<div class="login-checkbox">
                                        <label>
                                            <input type="checkbox" name="remember">Remember Me
                                        </label>
                                        <label>
                                            <a href="@Url.Action("ResetPassword", "Account")">Change Password</a>
                                        </label>
                                    </div>*@
                                @Html.HiddenFor(a=>a.UserID)
                                <button class="el-btn login_btn m-b-20" type="submit">Change Password</button>
                                <a href="@Url.Action("Login", "Account")">Back To Login</a>
                            </form>
                        </div>





                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    @*<script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="js/main.js"></script>*@
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/js/jquery.notifyBar.js"></script>
    <script>
        var showLoader = function (form) {
            $("#divLoader").show();
            setTimeout(function () {
                $("#divLoader").hide();
            }, 1000);
        }


    var err = '@ViewBag.Error';
    var success = '@ViewBag.Success';
    if (err != null && err != '') {
        $('#divSuccess').hide();
        $('#divFgForm').show();

        ShowError(err);
        }
        if (success != null && success != '') {

            $('#divSuccess').show();
            $('#divFgForm').hide();

            ShowSucess(success);
        }


        function ShowSucess(msg) {
            $.notifyBar({ cssClass: "success", html: msg });
        }
        function ShowError(msg) {
            $.notifyBar({ cssClass: "error", html: msg });
        }

    </script>
</body>

</html>